{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Witcher.RED - The Witcher 3 API
    </title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="/static/css/custom.css" rel="stylesheet">
    <title>Witcher.RED</title>
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="container-fluid" style="margin-top: 40px;">
      <div class="jumbotron text-danger text-center bg-light">
          <h1>Witcher.RED</h1>
          <p class="lead">The Witcher 3: Wild Hunt API</p>
      </div>
    </div>

    {% block content %}
    {% endblock %}
    
 

    <div class="row">
      <div class="col-lg-12 footer bg-light">
        <a href="https://bitbucket.org/mfreliszka/" target="_blank">&copy; Michał Freliszka <script type="text/javascript">
          document.write(new Date().getFullYear());
          </script>
        </a>
        <span class="pull-right">
        </span></p>
      </div>
    </div>
  
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  </body>
</html>