{% extends "base.html" %}

{% block content %}

    

  <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <h1 class="center">
      Try it now!
      </h1>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">http://www.witcher.red/api/</span>
        </div>
        <input type="text" class="form-control" id="interactive" aria-describedby="basic-addon3" placeholder="characters/1/">
        <div class="input-group-append">
          <button class="btn btn-primary" onClick="interactive_call();return false;" type="button">request</button>
        </div>

        
      </div>
      <small>Need a hint? try <a href="#" onClick="update('characters/1/');return false;"><i>characters/1/</i></a> or <a href="#" onClick="update('creatures/5/');return false;"><i>creatures/5/</i></a></small>

      <!-- <p class="lead pad_top">Result:</p> -->
      <div class="card border-secondary mb-3">
        <div class="card-header">Result:</div>
        <pre id="interactive_output" class="pre-scrollable">
{
        "id": 1,
        "name": "Geralt",
        "race": "http://localhost:8000/api/races/1/",
        "gender": "Male",
        "edited": "2021-08-08T17:38:07.359492Z",
        "url": "http://localhost:8000/api/characters/1/"
}         </pre>
      </div>
    </div>
    <div class="col-sm-2 col-lg-2 col-md-2">
    </div>
  </div>

  <script>
    function update(call){
        jQuery('#interactive').val(call);
        interactive_call();
    }

    function interactive_call(){
        var content = jQuery('#interactive').val()
        if(content == ''){
            content = 'characters/1/';
        }
        var call_url = 'api/' + content;
        jQuery.ajax({
      dataType: 'json',
      url: call_url,
      context: document.body
    }).complete(function(data) {
        if(data['status'] == 200){
            var d = jQuery.parseJSON(data['responseText']);
            jQuery('#interactive_output').text(JSON.stringify(d, null, '\t'));
        }
        else if (data['status'] == 404) {
            jQuery('#interactive_output').text(data['status'] + ' ' + data['statusText']);
        }
    });
    }
  </script>

{% endblock %}