<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class='container'>
      <a class="navbar-brand" href="#">
        <img src="/static/favicon.ico" width="32" height="32" class="d-inline-block align-top" alt="">
        Witcher.RED
      </a>
      <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapseLinks' aria-expanded='false' aria-label='Toggle Navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapseLinks">
        <ul class='navbar-nav'>
          <li class='nav-item'>
            <a href='' class='nav-link'>Home</a>
          </li>
          <li class='nav-item'>
            <a href='/documentation' class='nav-link'>Documentation</a>
          </li>
          <li class='nav-item'>
            <a href='/about' class='nav-link'>About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>